.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  /* border: 1px red solid; */
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 40px 0;
    flex-direction: column;
  }
}
